
@font-face {
    font-family: fontHead;
    src: url(./fonts/FontHead.ttf);
}
@font-face {
    font-family:fontTask ;
    src: url(./fonts/fontTask.ttf);
}
@font-face {
    font-family: fontTask2 ;
    src: url(./fonts/fontTask2.ttf);
}


* {
    margin: 0;
    font-family: fontTask2;
}

.container{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 4fr 15fr;
    
    background-color: rgba(128, 128, 128, 0.116);
    width: 100%;
    height: 100vh
}


.newTask{
    font-family: fontTask;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.082);
    border-style: none;
    width: 75%;
}
.tasks input {
    /*display: none;*/
}

.newTask::placeholder{
    color: rgba(0, 0, 0, 0.589);
}

.deleteBtn{
    display: none;
}
.header {
    
    
    height: 15vh;
    width: 100%;
    
}

.headerTitle {
    text-align: left;
    font-size: 65px;
    
}

.sidebar{
   
    
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100vh;
    font-size: 35px;
    margin-right: 25px;
    overflow: hidden;
}

.inputListTitle{
    
    font-size: 24px;
    
    border-style: none;
    justify-self: center;
    margin-left: 25px;
    width: 75%;
    background-color: rgba(240, 248, 255, 0.021);
    border-bottom: 1px solid black;
}
.inputListTitle::placeholder{
    color: rgba(0, 0, 0, 0.452);
}





.memoBox{
    margin-left: 1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.425);
    position: absolute;
    
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    
   
}

.contentContainer{
    position: absolute;
    left: 25rem;
    top: 10rem;
    width: 40rem;
  
}
.task{
    display: grid;
    border-top: 1px solid rgba(24, 20, 20, 0.479);
    
    display: flex;
   
}
.checkBox{
    width: 10%;
}

.memoText{
    
    margin-top: 3%;
    margin-left: 1rem;
    
    width: 80%;
    
    background-color: rgba(255, 255, 255, 0.192);
}
label{
    font-size: 30px;
    font-family: fontTask;
    
}
.listContent{
    
    margin: 15px;
    height: 15vh;
    max-height: 80vh;
    width: 33%;
}
.taskCount{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 25px;
}

.addTaskBtn{
    position: absolute;
    border-style: none;
    top: 2px;
    

}

.addItemBtn{
    margin-left: 25px;
    border-radius: 15px;
}

.createNewListItem{
    border: 1px solid rgb(0, 0, 0);
    width: 25rem;
    height: 13rem;
}

ul{
    list-style: none;
}

.clearTask{
    margin-top: 10%;
    color: black;
    font-size: 30px;
}

.activeList{
    
    border-bottom: 3px solid rgb(8, 0, 0);
}


.activeList > button{
    display: flex;
    position: relative;
    float: left;
    bottom: -12px;
    
    background-color:rgba(15, 9, 43, 0.596);
    height: 1rem;
    border-radius: 5px;
}